<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
    <p>Hello! My name is Blaise Palombo. I am a senior at BYU-I, majoring in Web Design and Development. Some of my hobbies include camping, fishing, and baking.</p>
    <img src="/images/me.jpeg" alt="A picture of me">
</main>

<%- include('partials/footer') %>
