<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
    <p>Check out some of our products below:</p>
    <ul>
        <li>Product 1</li>
        <li>Product 2</li>
        <li>Product 3</li>
    </ul>
</main>

<%- include('partials/footer') %>
